<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Sqlite-Veritabanı-ve-Tablo-Oluşturma" data-toc-modified-id="Sqlite-Veritabanı-ve-Tablo-Oluşturma-1">Sqlite Veritabanı ve Tablo Oluşturma</a></span><ul class="toc-item"><li><span><a href="#Veritabanı-nedir-?" data-toc-modified-id="Veritabanı-nedir-?-1.1">Veritabanı nedir ?</a></span></li><li><span><a href="#Sqlite-Veritabani" data-toc-modified-id="Sqlite-Veritabani-1.2">Sqlite Veritabani</a></span></li><li><span><a href="#Sqlite-Veritabani-Olusturma" data-toc-modified-id="Sqlite-Veritabani-Olusturma-1.3">Sqlite Veritabani Olusturma</a></span></li><li><span><a href="#Kitaplık-Tablosu-Oluşturma" data-toc-modified-id="Kitaplık-Tablosu-Oluşturma-1.4">Kitaplık Tablosu Oluşturma</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sorgu1" data-toc-modified-id="Sorgu1-1.4.0.1">Sorgu1</a></span></li><li><span><a href="#Sorgu2" data-toc-modified-id="Sorgu2-1.4.0.2">Sorgu2</a></span></li></ul></li></ul></li><li><span><a href="#Tabloya-Veri-ekleme" data-toc-modified-id="Tabloya-Veri-ekleme-1.5">Tabloya Veri ekleme</a></span></li><li><span><a href="#Tablodan-Veri-Cekme" data-toc-modified-id="Tablodan-Veri-Cekme-1.6">Tablodan Veri Cekme</a></span></li><li><span><a href="#Tablolardaki-Verileri-Guncelleme-ve-Silme" data-toc-modified-id="Tablolardaki-Verileri-Guncelleme-ve-Silme-1.7">Tablolardaki Verileri Guncelleme ve Silme</a></span><ul class="toc-item"><li><span><a href="#Verileri-Güncelleme" data-toc-modified-id="Verileri-Güncelleme-1.7.1">Verileri Güncelleme</a></span></li><li><span><a href="#Veri-Silme" data-toc-modified-id="Veri-Silme-1.7.2">Veri Silme</a></span></li></ul></li></ul></li></ul></div>

# Sqlite Veritabanı ve Tablo Oluşturma
 Veritabanı konusu çok çok uzun incelenmesi gereken bir konu olduğu için bu bölümde sadece Sqlite veritabanını basit anlamda incelemeye çalışacağız.

## Veritabanı nedir ? 
Veritabanı uygulamalarımızda , websitelerimizde veya en genel anlamda programlarımızda gerekli olan bilgileri   
depoladığımız bir yapıdır. Örneğin , Facebook'un kullanıcıları, gönderileri tuttuğu veritabanları gibi.   
Günümüzde kullanılan bazı veritabanı türleri şunlardır;  

          Relational Database (İlişkisel Veritabanları) : Tablolardan oluşur. Mysql, Sqlite vs.  
          DocumentBased Database (Doküman Veritabanları) : Dokümanlardan oluşur. MongoDb, Azure DocumentDb  
                              //
                              //
                              //
Sqlite ilişkisel bir veritabanıdır ve bu veritabanı tablolardan oluşur Her bir tablo veritabanında belli gruplanmış
verileri tutar. Örnek bir tablo yapısı şu şekildedir;

![Tablo](Unknown.jpg)

Buradaki tabloda , **İsim,Yazar,Yayınevi,Sayfa Sayısı** gibi özellikler bizim tablomuzun özellikleridir ve her bir satırda herhangi bir kitabın özellikleri saklanır. Tabloları tıpkı bir excel dosyası gibi düşünebilirsiniz.

## Sqlite Veritabani

Bu bölümde göreceğimiz Sqlite veritabanı diğer veritabanları gibi sunucu kurmamızı gerektirmez, yani sunucusuz bir 
veritabanıdır. Bu anlamda herhangi bir programımızın yanına direk olarak kurulabilir.

Peki bu veritabanı üzerinde tablo oluşturma, veri ekleme gibi işlemlerimizi nasıl gerçekleştireceğiz ?  
İlişkisel veritabanları tablo işlemlerini  SQL(Structured Query Language) adında bir sorgulama diliyle gerçekleştirir.  
Ancak bu sorgulama dili çok kapsamlı olduğu için bu bölümde sadece belli başlı sorguları gorecegiz.  

Sql dilini incelemek isterseniz şu siteye bakabilirsiniz : **[Link](https://www.w3schools.com/SQL/deFault.asp)**

## Sqlite Veritabani Olusturma
            1. import sqlite3 -  Modülümüzü dahil ediyoruz.
            2. con = sqlite3.connect("kütüphane.db") - kütüphane.db veritabanını oluşturup bağlanıyoruz.
            Eğer öyle bir veritabanı varsa bağlanıyoruz. Bağlantıyı con isimli bir değişkene atıyoruz.
            3.  Database üzerinde Sql sorgularını çalıştırmak için cursor bir tane imleç oluşturuyoruz. 
            "cursor =  con.cursor()
            4. Veritabanı işlemlerinin sonunda con.close() ile bağlantımızı koparıyoruz.

In [3]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor=con.cursor()
con.close()

## Kitaplık Tablosu Oluşturma
Veritabanında kitaplık isimli bir tablo oluşturmak için şu 2 sorgudan birini kullanabiliriz.

#### Sorgu1
---
 CREATE TABLE kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT , Sayfa_Sayısı INT) - Bu sorgu kitaplık isimli bir tablo
 oluşturacak ve bu tablonun özellikleri İsim (TEXT --> String),Yazar(TEXT --> String),Yayınevi (TEXT ---> String),
 Sayfa_Sayısı(INT --- int) olacak. Ancak bu sorguyu arda arda çalıştırırsak "Tablo Already Exists" hatası alacağız.
#### Sorgu2
---
 CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT , Sayfa_Sayısı INT) - Bu sorgu tablo yoksa
  oluşturacak, tablo varsa hata vermeyecektir.
  
 Kodlarımız şu şekilde;

In [6]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor = con.cursor()

def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplik(isim TEXT , Yazar TEXT , Yayinevi TEXT , Sayfa_sayisi INT)")  # Sorguyu Calistiriyoruz
    con.commit() # Sorgunun veritabanı üzerinde geçerli olması için commit işlemi gerekli.

tablo_olustur()
con.close()

## Tabloya Veri ekleme
 INSERT INTO kitaplık VALUES('İstanbul Hatırası','Ahmet Ümit','Everest',561)   
         
         `Not : SQL Sorguları büyük veya küçük harfle de yazılabilir. Örnek olarak`

1.insert into kitaplık values ('İstanbul Hatırası','Ahmet Ümit','Everest',561)  
2.Insert Into kitaplık Values ('İstanbul Hatırası','Ahmet Ümit','Everest',561)

In [9]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor = con.cursor()

def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplik(isim TEXT , Yazar TEXT , Yayinevi TEXT , Sayfa_sayisi INT)")  # Sorguyu Calistiriyoruz
    con.commit() # Sorgunun veritabanı üzerinde geçerli olması için commit işlemi gerekli.

def veri_ekle():
    cursor.execute("INSERT INTO kitaplik VALUES ('Istanbul Hatirasi' , 'Ahmet Umit' , 'Everest' , 261)")
    con.commit()

veri_ekle()
con.close()

**Peki kullanıcıdan aldığımız değerleri tabloya nasıl ekliyoruz ? Onun için de sorgumuzu ve kodumuzu biraz değiştireceğiz.**

In [3]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor=con.cursor()

def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplik (İsim TEXT,Yazar TEXT,Yayınevi TEXT,Sayfa_Sayısı INT)") # Sorguyu çalıştırıyoruz.
    con.commit()
    
def veri_ekle_2(isim,yazar,yayinevi,sayfa_sayisi):
    cursor.execute("INSERT INTO kitaplik VALUES (? , ? , ? , ?)",(isim,yazar,yayinevi,sayfa_sayisi))
    con.commit()
isim=input("Isim:")
yazar=input("Yazar:")
yayinevi=input("Yayinevi:")
sayfa_sayisi=int(input("Sayfa Sayisi:"))
veri_ekle_2(isim,yazar,yayinevi,sayfa_sayisi)

Isim:Homo Deus
Yazar:Yuval Noah Harari
Yayinevi:bilgi
Sayfa Sayisi:430

## Tablodan Veri Cekme

Tablodan veri çekmek için şu SQL sorgularını kullanacağız:

- Select * From kitaplık - Tablodaki tüm bilgileri almamızı sağlar.
- Select İsim,Yazar From kitaplık Tablodaki tüm bilgileri sadece İsim ve Yazar özelliklerini almamızı sağlar.
- Select * From kitaplık where Yayınevi = 'Everest' Sadece Yayınevi özelliği Everest olanları alır.

In [5]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor=con.cursor()

def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT,Yazar TEXT,Yayınevi TEXT,Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplik Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplik") # Bütün bilgileri alıyoruz.
    data=cursor.fetchall() # Veritabanından bilgileri çekmek için fetchall() kullanıyoruz.
    print("Kitaplik Tablosunun Bilgileri......")
    for i in data:
        print(i)
    #` con.commit() işlemine gerek yok. Çünkü tabloda herhangi bir güncelleme yapmıyoruz.

In [7]:
verileri_al() 
con.close

Kitaplik Tablosunun Bilgileri......
('Istanbul Hatirasi', 'Ahmet Umit', 'Everest', 261)
('Homo Deus', 'Yuval Noah Harari', 'bilgi', 430)

**Sadece Isim Ve yazar bilgilerini alalim**

In [10]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor=con.cursor()

def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT,Yazar TEXT,Yayınevi TEXT,Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplik Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplik") # Bütün bilgileri alıyoruz.
    data=cursor.fetchall() # Veritabanından bilgileri çekmek için fetchall() kullanıyoruz.
    print("Kitaplik Tablosunun Bilgileri......")
    for i in data:
        print(i)
def verileri_al2():
    cursor.execute("Select isim,Yazar From kitaplik") # Sadece İsim ve Yazar özelliklerini alıyoruz.
    data = cursor.fetchall()
    print("Kitaplık Tablosunun bilgileri.....")
    for i in data:
        print(i)

In [11]:
verileri_al2()
con.close()

Kitaplık Tablosunun bilgileri.....
('Istanbul Hatirasi', 'Ahmet Umit')
('Homo Deus', 'Yuval Noah Harari')

**Sadece Yayinevi bilgisi almak icin verileri_al3() fonksiyonu ekleyelim**

In [13]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor=con.cursor()

def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT,Yazar TEXT,Yayınevi TEXT,Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplik Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplik") # Bütün bilgileri alıyoruz.
    data=cursor.fetchall() # Veritabanından bilgileri çekmek için fetchall() kullanıyoruz.
    print("Kitaplik Tablosunun Bilgileri......")
    for i in data:
        print(i)
def verileri_al2():
    cursor.execute("Select isim,Yazar From kitaplik") # Sadece İsim ve Yazar özelliklerini alıyoruz.
    data = cursor.fetchall()
    print("Kitaplık Tablosunun bilgileri.....")
    for i in data:
        print(i)
def verileri_al3():
    cursor.execute("Select yayinevi from kitaplik ")
    data=cursor.fetchall()
    print("Kitaplik tablosunun yayinevi bilgileri:")
    for i in data:
        print(i)

In [14]:
verileri_al3()
con.close()

Kitaplik tablosunun yayinevi bilgileri:
('Everest',)
('bilgi',)

## Tablolardaki Verileri Guncelleme ve Silme

### Verileri Güncelleme
Tablodaki verileri güncelleme için şöyle bir sorgu kullanabiliriz:  

Update kitaplık set Yayınevi = 'Everest' where Yayınevi = 'Doğan Kitap' -- Yayınevi 'Doğan Kitap' olan kitapların Yayınevi      bilgilerini 'Everest' e günceller.

In [20]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor=con.cursor()

def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT,Yazar TEXT,Yayınevi TEXT,Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplik Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplik") # Bütün bilgileri alıyoruz.
    data=cursor.fetchall() # Veritabanından bilgileri çekmek için fetchall() kullanıyoruz.
    print("Kitaplik Tablosunun Bilgileri......")
    for i in data:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplik") # Sadece İsim ve Yazar özelliklerini alıyoruz.
    data = cursor.fetchall()
    print("Kitaplık Tablosunun bilgileri.....")
    for i in data:
        print(i)
def verileri_al3(yayınevi):
    cursor.execute("Select * From kitaplik where Yayınevi = ?",(yayınevi,)) # Sadece yayınevi ,Everest olan kitapları alıyoruz.
    data = cursor.fetchall()
    print("Kitaplık Tablosunun bilgileri.....")
    for i in data:
        print(i)
def verigüncelle(yayinevi):
    cursor.execute("Update kitaplik set Yayinevi = ? where Yayinevi =  ?",("bilgi",yayinevi))
    con.commit()

In [21]:
verigüncelle("Doğan Kitap")
con.close()

### Veri Silme

In [22]:
import sqlite3
con=sqlite3.connect("kutuphane.db")
cursor=con.cursor()

def tablo_olustur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT,Yazar TEXT,Yayınevi TEXT,Sayfa_Sayısı INT)")
    con.commit()
def veri_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("Insert into kitaplik Values(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
def verileri_al():
    cursor.execute("Select * From kitaplik") # Bütün bilgileri alıyoruz.
    data=cursor.fetchall() # Veritabanından bilgileri çekmek için fetchall() kullanıyoruz.
    print("Kitaplik Tablosunun Bilgileri......")
    for i in data:
        print(i)
def verileri_al2():
    cursor.execute("Select İsim,Yazar From kitaplik") # Sadece İsim ve Yazar özelliklerini alıyoruz.
    data = cursor.fetchall()
    print("Kitaplık Tablosunun bilgileri.....")
    for i in data:
        print(i)
def verileri_al3(yayınevi):
    cursor.execute("Select * From kitaplik where Yayınevi = ?",(yayınevi,)) # Sadece yayınevi ,Everest olan kitapları alıyoruz.
    data = cursor.fetchall()
    print("Kitaplık Tablosunun bilgileri.....")
    for i in data:
        print(i)
def verigüncelle(yayınevi):
    cursor.execute("Update kitaplik set Yayınevi = ? where Yayınevi =  ?",("Koridor",yayınevi))
    con.commit()


def verilerisil(yazar):
    cursor.execute("Delete  From kitaplik where Yazar = ?", (yazar,))
    con.commit()

In [23]:
verilerisil("Yuval Noah Harari")
con.close()